.header {
    width: 100vw;
    height:50px;
    background-color: var(--light-color);
}
* :not(li, ul) {
    margin: 0;
    padding: 0;
    --light-color: #cccccc;
    --primary-color: #fcffcb;
    --primary-selected: #e5ff00;
    --secondary-color: #e4fffa;
    font-family: Arial;
    font-size: 25px;
}
li {
    text-align: left;
    margin-left: 50vw;
    transform: translateX(-150px);
}
table, td, th {  
    border: 1px solid black;
    text-align: left;
}
td, th {
    padding: 5px;
}  
table {
  border-collapse: collapse;
  width: 100%;
}
table tr:nth-child(odd){background-color: #f2f2f2;}
table tr:nth-child(even){background-color: #ffffff;}
h1 {
    overflow: visible;
}
.hidden {
    display: none;
}
#questions {
    display: block;
    margin: 10vmin;
    background-color: aliceblue;
    border-radius: 30px;
    border: 3px solid lightslategrey;
    padding:10px;
}
#input {
    margin: 50px;
    margin-bottom: 10px;
    width: calc(100% - 100px);
    background: #ffffff;
    border-radius: 10px;
    text-align: left;
    padding:3px;
    padding-left:20px;
}
body {
    height: 100vh;
    background-color: #dddddd;
    text-align: center;
}
#selectionZone {
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}
button {
    width: 300px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 25px;
}
.select button, .select h1 {
    margin-right: 50px;
    width:300px;
}
.select2 button, .select2 h1 {
    margin-left: 50px;
    width:300px;
}
.select2 h1 {
    position:absolute;
    left: 0;
    top:60px;
    white-space: nowrap;
}
.select h1 {
    position:absolute;
    right: 0;
    top:60px;
    white-space: nowrap;
}
.back {
    margin-bottom: 50px;
}
.select {
    width: calc(50vw + 200px);
    height:100%;
    position: absolute;
    top:0;
    background-color: var(--primary-color);
    transform: translateX(-100%);
    transition: all 0.5s;
    opacity: 0;
}
.select.active {
    transform: translateX(0);
    opacity: 1;
}
.select2 {
    width: calc(50vw + 200px);
    height:100%;
    position: absolute;
    top:0;
    right:0px;
    background-color: var(--secondary-color);
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 0;
}
.select2.active {
    transform: translateX(0);
    opacity: 1;
}
.btn-green {
    background-color: green;
    border-radius: 15px;
    border-color: darkgreen;
}
.btn-green:hover {
    background-color: darkgreen;
    border-color: darkolivegreen;
    cursor: pointer;
}