* {
    overflow-x: hidden;
    overflow-y: hidden;
}
.header {
    width: 100vw;
    height:50px;
    background-color: rgba(0,0,0, 0.1);
}
a.logo {
    height: 40px;
    float: left;
    padding: 5px;
    display: block;
}
img.logo {
    height:100%
}
.container-list {
    width: fit-content;
    margin: auto;
}
a.btn {
    height: 30px;
    margin: 5px;
    padding: 2px;
    border-radius: 10px;
    float: left;
    color: black;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}
a.btn:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
a.btn:hover:before {
  visibility: visible;
  width: 100%;
}
a.btn:hover {
    background-color: rgba(255,255,255, 0.3);
}
.inner-header {
    width: 95vw;
    height:50px;
    background-color: rgba(0,0,0,0);
    margin: auto;
    border-bottom: var(--primary-color) solid 3px;
}
* :not(li, ul) {
    margin: 0;
    padding: 0;
    --light-color: #cccccc;
    --primary-color: #ff00ff;
    --primary-selected: #800080;
    --secondary-color: #808000;
    font-family: Arial;
    font-size: 25px;
}
li {
    text-align: left;
    margin-left: 50vw;
    transform: translateX(-150px);
}
table, td, th {  
    border: 1px solid black;
    text-align: left;
}
td, th {
    padding: 5px;
}  
table {
  border-collapse: collapse;
  width: 100%;
}
table tr:nth-child(odd){background-color: #f2f2f2;}
table tr:nth-child(even){background-color: #ffffff;}
h1 {
    overflow: visible;
}
.hidden {
    display: none;
}
#questions {
    display: block;
    margin: 2vmin;
    background-color: rgba(255,255,255, 0.8);
    border-radius: 30px;
    border: 3px solid var(--primary-color);
    padding:10px;
    height: calc(100vh - 220px);
}
#questions.correct {
    background-color: rgb(224, 255, 224);
    border-color: rgb(0, 255, 0);
}
#questions.incorrect {
    background-color: rgb(255, 224, 224);
    border-color: rgb(255, 0, 0);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
#input {
    margin: 50px;
    margin-bottom: 10px;
    width: calc(100% - 100px);
    background: #ffffff;
    border-radius: 10px;
    text-align: left;
    padding:3px;
    padding-left:20px;
}
body {
    height: 100vh;
    background-color: #dddddd;
    text-align: center;
}
#selectionZone {
    width:100%;
    height:calc(100% - 50px);
    overflow-y:auto;
}
button {
    width: 300px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-size: 25px;
}
.select button, .select h1 {
    margin-right: 50px;
    width:300px;
}
.select2 button, .select2 h1 {
    margin-left: 50px;
    width:300px;
}
.select2 h1 {
    position:absolute;
    left: 0;
    top:60px;
    white-space: nowrap;
}
.select h1 {
    position:absolute;
    right: 0;
    top:60px;
    white-space: nowrap;
}
.back {
    margin-bottom: 50px;
}
.select {
    width: calc(50vw + 200px);
    height:100%;
    position: absolute;
    top:0;
    background-color: var(--primary-color);
    transform: translateX(-100%);
    transition: all 0.5s;
    opacity: 0;
}
.select.active {
    transform: translateX(0);
    opacity: 1;
}
.select2 {
    width: calc(50vw + 200px);
    height:100%;
    position: absolute;
    top:0;
    right:0px;
    background-color: var(--secondary-color);
    transform: translateX(100%);
    transition: all 0.5s;
    opacity: 0;
}
.select2.active {
    transform: translateX(0);
    opacity: 1;
}
.btn-green {
    background-color: green;
    border-radius: 15px;
    border-color: darkgreen;
}
.btn-green:hover {
    background-color: darkgreen;
    border-color: darkolivegreen;
    cursor: pointer;
}
.question-box {
    display: inline;
    background-color: aliceblue;
    border: lightslategray solid 3px;
    margin:3px;
    padding:3px;
    border-radius: 20px;
}
.question-box.current{
    background-color: rgb(176, 218, 255);
    border-color: rgb(50, 102, 155);
}
.question-box.wrong{
    background-color: rgb(255, 176, 176);
    border-color: rgb(155, 50, 50);
}
.question-box.correct{
    background-color: rgb(185, 255, 176);
    border-color: rgb(59, 155, 50);
}
#questionprogress {
    border: var(--primary-color) solid 3px;
    padding: 15px;
    margin: 5px 2vmin;
    background-color: rgba(255,255,255, 0.7);
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px 10px 0 0;
}